* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;
}

.texto {
    display: inline-block;
    width: 60%;
    margin-top: 15%;
    padding-left: 136px;
}

.celular {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 15%;
    right: 140px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 0px;
    color: #5D5D7D;
    width: 368px;
    height: 160px;
    opacity: 1;
}

p {
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #5D5D7D;
    width: 540px;
    height: 144px;
    opacity: 0.6;
    margin: 15px 0;
}

button {
    width: 269px;
    height: 62px;
    opacity: 1;
    background: #9499EA;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 110px;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

header {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #5D5D7D;
    cursor: pointer;
    margin: 24px 0 0 57px;

}

a {
    margin-right: 41px;
}

header :nth-child(2) {
opacity:  0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
} 

@media screen and (max-width: 1100px) {
    .texto {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        display: block;
    }

    .celular {
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        width: auto;
        margin: 58px 50px 0 50px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: auto;
        text-align: center;
        margin: 15px 40px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 380px) {
    .texto {
        height: 60%;
}
}